/* You can add global styles to this file, and also import other style files */

body {
  padding: 0;
  margin: 0;
  height: 100%;
  min-height: 100vh;
  background-color: #eee !important;
}

.loader {
  border: 14px solid #f3f3f3;
  border-radius: 50%;
  border-top: 14px solid #ff9933;
  width: 50px;
  height: 50px;
  margin-top: -25px;
  margin-left: -25px;
  -webkit-animation: spin 2s linear infinite;
  -moz-animation: spin 2s linear infinite;
  animation: spin 2s linear infinite;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

@-webkit-keyframes spin {
  0% {
    -webkit-transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(360deg);
  }
}

@keyframes spin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

.loader-login {
  border: 8px solid #f3f3f3;
  border-radius: 50%;
  border-top: 8px solid #008b98;
  width: 30px;
  height: 30px;
  margin-top: -25px;
  margin-left: -25px;
  -webkit-animation: spin 2s linear infinite;
  -moz-animation: spin 2s linear infinite;
  animation: spin 2s linear infinite;
  position: absolute;
  top: 75%;
  left: 50%;
  transform: translate(-50%, -50%);
}

@-webkit-keyframes spin {
  0% {
    -webkit-transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(360deg);
  }
}

@keyframes spin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

.pagination-sm>li>a {
  color: #869596;
  background-color: transparent;
  border: none;
}

.pagination>li>a:hover {
  color: #869596;
  background-color: #d7d7d7;
  border: #d7d7d7;
}

.pagination>.active>a,
.pagination>.active>a:hover {
  background-color: #869596;
  border-color: #869596;
}

.pagination>.disabled>a,
.pagination>.disabled>a:hover {
  background-color: transparent;
  border: none;
}

.nvd3.nv-pie path {
  fill-opacity: 1 !important;
}


/*.nv-bar {
    width: 28px !important;
}*/


/*.nvd3.nv-bar {
    width: 28px;
}*/

.nv-x text {
  font-size: 15px;
  fill: #4a6062;
}

.nv-y text {
  font-size: 12px;
}

.nv-x2 {
  display: none;
}

.nv-y2 {
  display: none;
}

#xAxis .tick line {
  visibility: hidden;
}

.tick text {
  text-anchor: end;
}


/* app css stylesheet */

.menu {
  list-style: none;
  border-bottom: 0.1em solid black;
  margin-bottom: 2em;
  padding: 0 0 0.5em;
}

.menu:before {
  content: "[";
}

.menu:after {
  content: "]";
}

.menu>li {
  display: inline;
}

.menu>li+li:before {
  content: "|";
  padding-right: 0.3em;
}

.nav-list {
  margin-top: 100px;
}

.nav-list>li>a {
  color: #000;
  font-size: 15px;
}

.nav-list>li>a:hover {
  color: #fff;
  background: #008998;
}

.blueNav {
  border-top-right-radius: 3%;
  border-bottom-right-radius: 3%;
  background: #008998;
  color: #ffffff;
  height: 550px;
}

.panel-footer {
  background: #bed600;
}

.active {
  color: #fff;
}

.panel-body {
  background: #f8f8f8;
  position: relative;
}

.charts {
  width: 82%;
}

.para-title {
  color: #008998;
}

.para__content {
  float: left;
  padding-bottom: 2%;
  font-size: 12px;
  width: 50%;
}

.para__content__digit {
  font-size: 3em;
  margin-top: -6%;
}

.progress {
  display: block;
}

.dotFloater {
  margin-top: 3%;
}

.InteliDishLiveDashBoard {
  margin-top: 50px;
}

.u-click-pointer {
  cursor: pointer;
}

.u-rounded-Btn {
  border-radius: 30px 30px 30px 30px;
}

.u-underline {
  border-bottom: 1px solid #4FA582 !important;
}

.u-border-none {
  border: none;
}

.u-center-text {
  text-align: center;
}

.u-left-text {
  text-align: left;
}

.u-right-text {
  text-align: right;
}

.u-capitalize-text {
  text-transform: capitalize;
}


/**
** dropdown nested list
**/

.dropdown button {
  width: 100%;
  text-align: left;
  background-color: transparent;
}


/*.dropdown-menu {
    height: 200px !important;
    overflow: hidden !important;
    overflow-y: scroll !important;
}*/

.nv-bar text {
  display: none;
}

.nv-x .tick line {
  display: none;
}

.nv-axislabel {
  font-size: 15px !important;
  font-weight: 600 !important;
}

.gm-style .gm-style-iw+div {
  display: none;
}

.gm-style div {
  background: transparent !important;
  box-shadow: none !important;
}

.gm-style .gm-style-iw+div {
  display: none !important;
}


/*hide yaxis line*/

.nv-y path {
  display: none !important;
}

.abc {
  display: none !important;
  visibility: hidden !important;
  opacity: 0 !important;
}

.highcharts-yaxis text {
  font-size: 14px;
  font-weight: 600;
  color: #000000 !important;
  fill: #000000 !important;
}

.highcharts-line-series.highcharts-legend-item .highcharts-point {
  display: none;
}


/* date range selector*/

.daterangepicker.ltr .ranges {
  float: right !important;
}

.daterangepicker {
  position: absolute;
  color: #111;
  background: #fff;
  border-radius: 4px;
  padding: 4px;
  margin-top: 1px;
  top: 279px !important;
  left: auto;
  width: 500px !important;
  right: 10px !important;
}

.daterangepicker:after,
.daterangepicker:before {
  position: absolute;
  display: inline-block;
  content: '';
}

.daterangepicker.opensright:before {
  left: 90% !important;
}

.daterangepicker.opensright:after {
  left: 90% !important;
}

#dateRangeSelector {
  display: block;
  border: none;
  color: #fff;
  float: right;
  padding: 5px;
  background-color: #fbebc5;
}

.highcharts-legend-item-hidden {
  opacity: 0.4;
}

.tab-main__first {
  text-align: center;
}

.inactive-link {
  pointer-events: none;
}

.tab-main__first .tab__first__heading {
  display: inline-block;
}


/* start css for Intelli trak and child component*/

.breadcumb {
  border-bottom: 1px solid #acafb4;
  font-size: 13px;
  font-family: arial;
  margin-bottom: 10px;
  padding-top: 20px;
  padding-bottom: 3px;
}

.rowNoMargin {
  margin-left: 0px;
  margin-right: 0px;
}

.copyright {
  margin-top: 40px;
  color: #999F9F;
  font-size: 12px;
}


.highcharts-title{
  font-size: 16px !important;
  font-weight: 600;
}

/* end css for Intelli trak & child component*/

/* no data found css */
.no-data {
  position: absolute;
  top: 50%;
  left: 0;
  right: 0;
  transform: translateY(-50%);
  text-align: center;
  font-size: 15px;
  font-weight: 600;
  color: indianred;
}

.message-success {
  color: #658F34;
}

.message-error {
  color: indianred;
}

/* block title font and numbers font */
.block_title{
    font-family: forza-medium !important;
}

.numeric_font{
    font-family: forza-light !important;
}

/* tooltip customize */
.has-tooltip + .tooltip > .tooltip-inner {
    background-color: #008998 !important;
    max-width: none !important;
    text-align: left !important;
}

.has-tooltip + .tooltip > .tooltip-arrow {
    border-top-color: #008998 !important;
}

/* tooltip customize for intellicare siteview */
.dispensers_attend_tiles + .tooltip > .tooltip-inner {
    background-color: #008998 !important;
}

.dispensers_attend_tiles + .tooltip > .tooltip-arrow {
    border-top-color: #008998 !important;
}

//css for dispenser details page, will be removed once merged with develop consisting 3 screens

/*===== document start =====*/

html,
body {
    font-size: 12px;
}

.sa-red {
    color: #db2022 !important;
}

.sa-teal {
    color: #82c6ce !important;
}

.sa-green {
    color: #cee040 !important;
}


/*===== document end =====*/


/*===== flex-container start =====*/

.container {
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: stretch;
}

.flex {
    display: flex;
}

.flex-row {
    flex-direction: row !important;
}

.flex-col {
    flex-direction: column !important;
}

.flex-row-r {
    flex-direction: row-reverse !important;
}

.flex-col-r {
    flex-direction: column-reverse !important;
}

.flex-jc-start {
    justify-content: flex-start;
}

.flex-jc-end {
    justify-content: flex-end;
}

.flex-jc-center {
    justify-content: center;
}

.flex-jc-sa {
    justify-content: space-around;
}

.flex-jc-sb {
    justify-content: space-between;
}

.flex-ai-start {
    align-items: flex-start;
}

.flex-ai-end {
    align-items: flex-end;
}

.flex-ai-center {
    align-items: center;
}

.flex-ai-stretch {
    align-items: stretch;
}

.flex-ai-base {
    align-items: baseline;
}

.flex-wrap {
    flex-wrap: wrap;
}

.flex-wrap-r {
    flex-wrap: wrap-reverse;
}

.flex-no-wrap {
    flex-wrap: nowrap;
}

.flex-ac-start {
    align-content: flex-start;
}

.flex-ac-end {
    align-content: flex-end;
}

.flex-ac-center {
    align-content: center;
}

.flex-ac-stretch {
    align-content: stretch;
}

.flex-ac-sa {
    align-content: space-around;
}

.flex-ac-sb {
    align-content: space-between;
}


/*===== flex-container end =====*/


/*===== flex-child start =====*/

.flex-as-start {
    align-self: flex-start !important;
}

.flex-as-end {
    align-self: flex-end !important;
}

.flex-as-center {
    align-self: center !important;
}

.flex-as-stretch {
    align-self: stretch !important;
}

.flex-as-base {
    align-self: baseline !important;
}


/*===== flex-child end =====*/


/*===== padding, margin and border related start =====*/


/*padding*/

.no-pad {
    padding: 0 !important;
}

.no-h-pad {
    padding-left: 0 !important;
    padding-right: 0 !important;
}

.no-v-pad {
    padding-top: 0 !important;
    padding-bottom: 0 !important;
}

.no-l-pad {
    padding-left: 0 !important;
}

.no-r-pad {
    padding-right: 0 !important;
}

.no-t-pad {
    padding-top: 0 !important;
}

.no-b-pad {
    padding-bottom: 0 !important;
}

.pad-xxs {
    padding: 2px;
}

.pad-h-xxs {
    padding-left: 2px;
    padding-right: 2px;
}

.pad-v-xxs {
    padding-top: 2px;
    padding-bottom: 2px;
}

.pad-l-xxs {
    padding-left: 2px;
}

.pad-r-xxs {
    padding-right: 2px;
}

.pad-t-xxs {
    padding-top: 2px;
}

.pad-b-xxs {
    padding-bottom: 2px;
}

.pad-xs {
    padding: 4px;
}

.pad-h-xs {
    padding-left: 4px;
    padding-right: 4px;
}

.pad-v-xs {
    padding-top: 4px;
    padding-bottom: 4px;
}

.pad-l-xs {
    padding-left: 4px;
}

.pad-r-xs {
    padding-right: 4px;
}

.pad-t-xs {
    padding-top: 4px;
}

.pad-b-xs {
    padding-bottom: 4px;
}

.pad-s {
    padding: 6px;
}

.pad-h-s {
    padding-left: 6px;
    padding-right: 6px;
}

.pad-v-s {
    padding-top: 6px;
    padding-bottom: 6px;
}

.pad-l-s {
    padding-left: 6px;
}

.pad-r-s {
    padding-right: 6px;
}

.pad-t-s {
    padding-top: 6px;
}

.pad-b-s {
    padding-bottom: 6px;
}

.pad-m {
    padding: 8px;
}

.pad-h-m {
    padding-left: 8px;
    padding-right: 8px;
}

.pad-v-m {
    padding-top: 8px;
    padding-bottom: 8px;
}

.pad-l-m {
    padding-left: 8px;
}

.pad-r-m {
    padding-right: 8px;
}

.pad-t-m {
    padding-top: 8px;
}

.pad-b-m {
    padding-bottom: 8px;
}

.pad-l {
    padding: 12px;
}

.pad-h-l {
    padding-left: 12px;
    padding-right: 12px;
}

.pad-v-l {
    padding-top: 12px;
    padding-bottom: 12px;
}

.pad-l-l {
    padding-left: 12px;
}

.pad-r-l {
    padding-right: 12px;
}

.pad-t-l {
    padding-top: 12px;
}

.pad-b-l {
    padding-bottom: 12px;
}

.pad-xl {
    padding: 16px;
}

.pad-h-xl {
    padding-left: 16px;
    padding-right: 16px;
}

.pad-v-xl {
    padding-top: 16px;
    padding-bottom: 16px;
}

.pad-l-xl {
    padding-left: 16px;
}

.pad-r-xl {
    padding-right: 16px;
}

.pad-t-xl {
    padding-top: 16px;
}

.pad-b-xl {
    padding-bottom: 16px;
}

.pad-xxl {
    padding: 24px;
}

.pad-h-xxl {
    padding-left: 24px;
    padding-right: 24px;
}

.pad-v-xxl {
    padding-top: 24px;
    padding-bottom: 24px;
}

.pad-l-xxl {
    padding-left: 24px;
}

.pad-r-xxl {
    padding-right: 24px;
}

.pad-t-xxl {
    padding-top: 24px;
}

.pad-b-xxl {
    padding-bottom: 24px;
}


/*margin*/

.no-mar {
    margin: 0 !important;
}

.no-h-mar {
    margin-left: 0 !important;
    margin-right: 0 !important;
}

.no-v-mar {
    margin-top: 0 !important;
    margin-bottom: 0 !important;
}

.no-l-mar {
    margin-left: 0 !important;
}

.no-r-mar {
    margin-right: 0 !important;
}

.no-t-mar {
    margin-top: 0 !important;
}

.no-b-mar {
    margin-bottom: 0 !important;
}

.mar-xxs {
    margin: 2px;
}

.mar-h-xxs {
    margin-left: 2px;
    margin-right: 2px;
}

.mar-v-xxs {
    margin-top: 2px;
    margin-bottom: 2px;
}

.mar-l-xxs {
    margin-left: 2px;
}

.mar-r-xxs {
    margin-right: 2px;
}

.mar-t-xxs {
    margin-top: 2px;
}

.mar-b-xxs {
    margin-bottom: 2px;
}

.mar-xs {
    margin: 4px;
}

.mar-h-xs {
    margin-left: 4px;
    margin-right: 4px;
}

.mar-v-xs {
    margin-top: 4px;
    margin-bottom: 4px;
}

.mar-l-xs {
    margin-left: 4px;
}

.mar-r-xs {
    margin-right: 4px;
}

.mar-t-xs {
    margin-top: 4px;
}

.mar-b-xs {
    margin-bottom: 4px;
}

.mar-s {
    margin: 6px;
}

.mar-h-s {
    margin-left: 6px;
    margin-right: 6px;
}

.mar-v-s {
    margin-top: 6px;
    margin-bottom: 6px;
}

.mar-l-s {
    margin-left: 6px;
}

.mar-r-s {
    margin-right: 6px;
}

.mar-t-s {
    margin-top: 6px;
}

.mar-b-s {
    margin-bottom: 6px;
}

.mar-m {
    margin: 8px;
}

.mar-h-m {
    margin-left: 8px;
    margin-right: 8px;
}

.mar-v-m {
    margin-top: 8px;
    margin-bottom: 8px;
}

.mar-l-m {
    margin-left: 8px;
}

.mar-r-m {
    margin-right: 8px;
}

.mar-t-m {
    margin-top: 8px;
}

.mar-b-m {
    margin-bottom: 8px;
}

.mar-l {
    margin: 12px;
}

.mar-h-l {
    margin-left: 12px;
    margin-right: 12px;
}

.mar-v-l {
    margin-top: 12px;
    margin-bottom: 12px;
}

.mar-l-l {
    margin-left: 12px;
}

.mar-r-l {
    margin-right: 12px;
}

.mar-t-l {
    margin-top: 12px;
}

.mar-b-l {
    margin-bottom: 12px;
}

.mar-xl {
    margin: 16px;
}

.mar-h-xl {
    margin-left: 16px;
    margin-right: 16px;
}

.mar-v-xl {
    margin-top: 16px;
    margin-bottom: 16px;
}

.mar-l-xl {
    margin-left: 16px;
}

.mar-r-xl {
    margin-right: 16px;
}

.mar-t-xl {
    margin-top: 16px;
}

.mar-b-xl {
    margin-bottom: 16px;
}

.mar-xxl {
    margin: 24px;
}

.mar-h-xxl {
    margin-left: 24px;
    margin-right: 24px;
}

.mar-v-xxl {
    margin-top: 24px;
    margin-bottom: 24px;
}

.mar-l-xxl {
    margin-left: 24px;
}

.mar-r-xxl {
    margin-right: 24px;
}

.mar-t-xxl {
    margin-top: 24px;
}

.mar-b-xxl {
    margin-bottom: 24px;
}

.mar-auto {
    margin: auto;
}

.mar-h-auto {
    margin-left: auto;
    margin-right: auto;
}

.mar-v-auto {
    margin-top: auto;
    margin-bottom: auto;
}

.mar-r-auto {
    margin-right: auto;
}

.mar-l-auto {
    margin-left: auto;
}

.mar-t-auto {
    margin-top: auto;
}

.mar-b-auto {
    margin-bottom: auto;
}


/*border*/

.no-border {
    border: none !important;
}


/*===== margin and padding related end =====*/

/* ===== site-wise css start =====*/

.solutions-wrapper {
    justify-content: space-around;
}

.solution {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: stretch;
    margin: 8px;
}

.solution-sm {
    flex-grow: 1;
    flex-shrink: 0;
    flex-basis: 20%;
    max-width: 33.33%;
}

.solution-lg {
    flex-grow: 1;
    flex-shrink: 1;
    flex-basis: 33.33%;
    max-width: 50%;
}

.solution-header-container {
    font-family: 'forza-medium';
    font-size: 1.5em;
    color: #008998;
}

.solution-dot-pin {
    display: inline-block;
    background-color: #f8f8f8;
    color: #bed600;
    font-size: 0.6em;
    border-top-left-radius: 50%;
    border-top-right-radius: 50%;
    padding: 3px 5px 4px;
}

.solution-body-container {
    background-color: #f8f8f8;
    flex-basis: auto;
    flex-grow: 1;
}

.solution-body {
    flex-grow: 1;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: stretch;
    padding-top: 8px;
    .list-info:not(:last-of-type) {
        border-bottom: 1px solid #d8d8d8;
    }
}

.list-info {
    margin: 8px 16px;
    flex-grow: 1;
    display: flex;
    justify-content: space-between;
    font-family: 'aaux-pro';
    .info-desc {
        align-self: center;
        font-size: 1.3em;
    }
    .info-data {
        align-self: flex-end;
        font-family: 'forza-light';
        font-size: 3em;
    }
    .info-icon {
        align-self: center;
        font-size: 2em;
    }
    .info-header-left,
    .info-header-right {
        font-size: 1.3em;
    }
    .info-section-left,
    .info-section-right {
        display: flex;
        flex-grow: 1;
        flex-basis: 0%;
        flex-direction: column;
        justify-content: space-between;
        .info-donut-chart,
        .info-donut-desc {
            align-self: center;
        }
        .info-donut-desc {
            flex-grow: 1;
            font-size: 1.3em;
            text-align: center;
        }
    }
    .info-section-left {
        padding: 4px 8px 4px 0;
        align-items: flex-start;
        border-right: 1px solid #d8d8d8;
        .info-desc,
        .info-data {
            align-self: flex-start;
        }
    }
    .info-section-right {
        padding: 4px 0 4px 8px;
        align-items: flex-end;
        border-left: 1px solid #d8d8d8;
        .info-desc,
        .info-data {
            align-self: flex-end;
        }
        .info-desc {
            direction: rtl;
        }
    }
}

.info-donut-chart {
    .highcharts-title {
        display: flex;
        flex-direction: column;
        justify-content: center;
        font-family: 'aaux-pro' !important;
        font-size: 2em !important;
        font-weight: 600;
        text-align-last: center;
    }
}

.solution-footer {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    background-color: #e2ea9d;
    font-size: 1.5em;
    color: #4fa582;
}

.solution-option {
    padding: 6px;
    margin: 2px 0;
}


/* ===== site-wise css end =====*/